<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.udacity.stockhawk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.Manifest.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".StockHawkApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.DetailActivity"
            android:parentActivityName=".ui.MainActivity">
        </activity>

        <!--need to add the below code so android knows their is a widget with this app just
        like we did for the content provider-->
        <receiver android:name=".ui.WidgetProvider"
            android:label="@string/widget_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider_info" />
        </receiver>

        <!--note: IMPORTANT: there is a difference between BIND_REMOTEVIEW and BIND_REMOTEVIEWS
        since my widget REMOTEVIEWS objects need permission to be BIND_REMOTEVIEWS or else will not
        probably initate the widget service and thus will not actually call widgetDataProvider or
        WidgetService. The widget will still appear in the widget list and the base layout
        can still be correctly shown (ie WidgetProvider class will still be called and its
        onUpdate() method willbe called but when trying to call WidgetService from WidgetProvider
        it will break since it doesn't have permission for REMOTEVIEWS. Also this only realized
        once I uninstalled and reinstalled with new manifest as the manifest doesn't update unless
        you reinstall it on emulator / phone-->
        <service android:name=".sync.WidgetService"
                 android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <service
            android:name=".sync.QuoteIntentService"
            android:exported="false" />

        <provider
            android:name=".data.StockProvider"
            android:authorities="com.udacity.stockhawk"
            android:exported="true" />

        <service
            android:name=".sync.QuoteJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>